body{
    background-image: url("/img/FondoAzul.jpg");
    background-size: 100%;
    width: auto;
}

.Menu h1{
    margin:auto;
    text-align: center;
    background: linear-gradient(to bottom left, rgb(92, 92, 224),white);
    border-bottom: 2px double blue;
    
}

.Menu{
    padding: 0px 0px 10px 0px; /*Top Right Bottom Left*/
    background: white;
    border-bottom: 2px inset gray;
    margin:0px 10px 10px 10px;
}
nav a{
    color: black;
    padding: 5px 78px 5px 78px;
    text-decoration: none;    
}

nav a:hover{
    color: white;
    background-color: black;
}

nav{
    display: block;
    margin-top: 10px;
}

.Formulario form label{
    margin-left: 10px;
}

.Botones{
    margin-top: 20px;
    margin-left: 20px;
}

.Botones input{
    padding: 0px 10px 0px 10px; /*Top Right Bottom Left*/
    margin-left: 150px;
}

.Formulario{
    position: absolute;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 25px 25px 25px;
    left: 550px;
    background-color: rgba(130, 130, 138, 0.4);
}

label {
    color:white
}

ul{
    list-style-type: none;
}

li a{
    color: white;
    text-decoration: none;
}

li{
    position: relative;
    text-align: center;
    left: -20px;
    top: 10px;
    margin: 30px 0px 30px 0px;
    background-color: rgba(0, 195, 255, 0.2 );
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    font-size: 20px;
}
